<form id="searchForm" method="post" enctype="multipart/form-data" asp-action="SearchInput" asp-controller="product">
    <input type="search" id="searchBtn" placeholder="Search">
    <button class="searchbutton"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>