@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<section class="about">
    <div class="about-text">
        <h1>Register</h1>
        <a asp-controller="Home" asp-action="Index">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <a asp-controller="Account" asp-action="Register"><span>Register</span></a>
    </div>
</section>
<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="display:flex;justify-content:center;align-items:center;">

                @await Html.PartialAsync("_RegisterFormPartial", Model)
            </div>
        </div>
    </div>
</section>

