
@model ResetPasswordVM
<div class="mail">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" class="w-100">
                    <div class="form-group w-100">
                        <label asp-for="Email" style="color: #f3f3f3; width: 20%;"></label>
                        <input asp-for="Email" class="form-control mt-3" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>


