<div class="text-center mail">
    <h1 class="text-success mt-10">You have successfully verified your email!</h1>
    <a class="btn btn-primary mt-2" asp-controller="Account" asp-action="Login">Go to Login</a>
</div>